<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link rel="shortcut icon" href="{{ site.baseurl }}/images/favicon.ico" type="image/x-icon">
        <link rel="icon" href="{{ site.baseurl }}/images/favicon.ico" type="image/x-icon">


        <!-- Foundation CSS -->
        <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/foundation.css">

    </head>
    <body>

        <div class="site">
          <div class="row">
            <div class="large-12 columns">
              <h1 class="title"><a href="{{ site.baseurl }}/">Sean M Donnelly</a></h1>
            </div>
          </div>

          <div class="row">
            <div class="large-12 columns">
              <img src="{{ site.baseurl }}/images/banner.png">
            </div>
          </div>

          <div class="row">
            <div class="small-9 large-centered columns">{{ content }}</div>
          </div>

          <div class="footer">
            <div class="row">
              <div class="large-12 columns">
                <hr>
                  <div class="large-6 columns">
                    <small>Hey look over here. Gimme that sandwich!</small>
                  </div>
                </div>
              </div>
          </div>
        </div>
    </body>
</html>
